.poetContainer {
	height: 100%;
	display: flex;
	overflow: hidden;
	background: #fff;

	.dynastyContainer {
		width: 150px;
		flex-shrink: 0;
		height: 100%;
		background: #fff;
		border-right: 1rpx solid #f0f0f0;

		.dynastyItem {
			color: #999;
			padding: 20px 0;
			text-align: center;
			font-size: 26rpx;
			white-space: nowrap;

			&.active {
				color: #337ab7;
				background: #f8f8f8;
				font-weight: 600;
			}
		}
	}

	.scrollContainer {
		flex: 1;
		height: 100%;
		padding: 20px;
		box-sizing: border-box;

		.poetSmallCard {
			width: 50%;
			float: left;

			&:nth-child(2n) {
				padding-left: 10px;
			}

			&:nth-child(2n + 1) {
				padding-right: 10px;
			}
		}
	}

	.poetCard {
		background-color: #fff;
		border-bottom: unset;
		padding: 20px;
		margin: 20px 0;
		border-radius: 12px;
	}
}
