.typeContainer {
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 20px;
	.scrollContainer {
		padding: 0 20px;
		box-sizing: border-box;
	}
	.SectionCard {
		background-color: #fff;
		border-radius: 12px;
		margin-top: 30px;
		margin-bottom: 30px;
		.title {
			padding-top: 30px;
		}
		.content {
			padding-bottom: 0;
		}
	}
	.typeList {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
	}
}
