.wordCard {
	display: inline-block;
	margin-right: 12px;
	background-color: #fff;
	border-radius: 12px;
	padding: 12px 20px 16px 20px;
	margin-bottom: 20px;
	text-align: center;
	// display: flex;
	// justify-content: flex-start;
	// flex-wrap: wrap;
	.wordContainer {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.wordItemCell {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		margin-right: 10px;
		// flex-wrap: wrap;
		&:last-child {
			margin-right: 0;
		}
		.pinyin {
			margin-bottom: 10px;
			font-size: 22px;
		}
	}
}
