.poster-snapshot {
	margin: 0 auto;
	// width: 100vw;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-repeat: repeat;
	// background-size: cover;
	font-family:  GushiFont, 'Heti Kai', serif, system-ui, -apple-system, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol';
	-webkit-font-smoothing: subpixel-antialiased;
	// line-height: 1.5;
	// overflow-wrap: break-word;
	// word-wrap: break-word;
	hyphens: auto;
	.container {
		flex: 1;
		display: flex;
		align-items: flex-end;
	}
	.bottom {
		height: 128px;
		opacity: 1;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 24px 24px 0 24px;
		.date {
			color: #6d3907;
			font-size: 32px;
			line-height: 52px;
			text-align: left;
			letter-spacing: 0.2em;
			flex: 1;
		}
		.desc {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.xcxImg {
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}
		}
	}
}
