.poster-snapshot {
	margin: 0 auto;
	// width: 100vw;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-repeat: repeat;
	// background-size: cover;
	font-family: 'PingFang SC', serif, system-ui, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	// line-height: 1.5;
	// overflow-wrap: break-word;
	// word-wrap: break-word;
	hyphens: auto;
	// transition: all 0.5s ease-in-out;
  // transform: translateX(0);
	// &.remove {
	// 	transition: all 0.8s ease-in-out;
  //   transform: translateX(-100%);
	// }
	.container {
		flex: 1;
		display: flex;
		align-items: flex-end;
	}
	.bottom {
		height: 128px;
		opacity: 1;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 24px 24px 0 24px;
		.date {
			color: #6d3907;
			font-size: 30px;
			line-height: 50px;
			text-align: left;
			letter-spacing: 0.2em;
			flex: 1;
		}
		.desc {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.xcxImg {
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}
		}
	}
}
