.audioWords {
	font-size: 30px;
	margin-bottom: 8px;
	.block {
		text-align: center;
		display: block;
		letter-spacing: 4px;
	}
	.pinyin-text-container {
		justify-content: center;
	}
	.pinyin-text {
		min-width: auto;
		.pinyin, .hanzi {
			margin-right: 4px;
		}
		.pinyin {
			font-size: 24px;
			// min-width: 72px;
			min-width: auto;
			display: flex;
			justify-content: center;
		}
		.hanzi {
			font-size: 28px;
			// min-width: 72px;
			min-width: auto;
			display: flex;
			justify-content: center;
		}
	}
}
