.poetDetail {
	padding-bottom: 220px;
	background-color: #f5f5f5;
	.SectionCard {
		background-color: #fff;
		margin-bottom: 20px;
		& > .title {
			border-bottom: 2px solid #f5f5f5;
		}
	}
}
.avatarContainer {
	padding-top: 20px;
	background-color: #fff;
	margin-bottom: 20px;
	.avatar {
		width: 208px;
		height: 300px;
		margin: 0 auto;
		display: block;
	}
	.author {
		font-size: 30px;
		display: flex;
		padding: 10px 30px;
		align-items: center;
		justify-content: center;
		.name {
			font-weight: 500;
		}
		.dynasty {
			color: #666;
			font-size: 26px;
			margin-left: 20px;
		}
	}
}
.poetProfile {
	font-size: 28px;
	text-align: justify;
	.btn-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
		.btn-item {
			color: #337ab7;
			margin: 0 10px;
			border-radius: 8px;
			padding: 8rpx;
			flex: 1;
			text-align: center;
			background-color: #f5f5f5;
		}
	}
}
.hotPoemsSwiper {
	height: 305px;
}
.poetIndex {
	min-height: 100vh;
	background-color: #efefef;
	.keywordFilter {
		background-color: #fff;
	}
	.filterContainer {
		position: sticky;
		top: 0;
		background-color: #fff;
		opacity: 0.9;
		padding: 20px 30px;
		z-index: 99;
		box-shadow: 0 1px 3px hsla (0, 0%, 7%, 0.1);
	}
	.poetCard {
		display: flex;
		padding: 20px 20px;
		border-bottom: unset;
		background: #fff;
		margin-bottom: 20px;
		border-radius: 12px;
	}
}
