.SectionCard {
	padding: 10px 30px;
	&>.title {
		color: #333;
		font-size: 32px;
		font-weight: 600;
		padding: 12px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
