.SectionCard {

	&>.title {
		color: #454545;
		font-size: 34px;
		font-weight: 500;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 30px 12px 30px;
		.extra {
			font-size: 0.8em;
		}
	}
	&>.content {
		padding: 20px 30px 20px 30px;
	}
}
