.SectionCard {

	&>.title {
		color: #454545;
		font-size: 34px;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 30px;
	}
	&>.content {
		padding: 20px 30px 20px 30px;
	}
}
