.poemCard {
	padding: 20px 20px;
	text-align: left;
	.title {
		font-size: 46px;
		color: #333;
		font-weight: 500;
	}
	.card-top {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		justify-content: space-between;
	}
	.author_avatar {
		width: 90px;
		height: 90px;
		border-radius: 100%;
		margin-right: 20px;
		border: 2px solid #f8f8f8;
	}
	.author {
		color: #888;
		font-size: 30px;
		display: flex;
		align-items: center;
		.name {
			color: #337ab7;
			padding-left: 8px;
		}
		.dynasty {
			font-size: 0.8em;
			line-height: 1em;
			background-color: #f8f8f8;
			padding: 5px 12px;
			border-radius: 8px;
			margin-left: 20px;
		}
	}
	.operate-list {
		display: flex;
		.operate-item {
			font-size: 30px;
			text-align: center;
			box-sizing: border-box;
			border-radius: 50%;
			// border: 2px solid #999;
			padding: 8px;
			margin-left: 16px;
		}
		.icon {
			width: 36px;
			height: 36px;
			display: block;
		}
	}
}
