.randomContainer {
	background-color: #fff;
	margin: 0 20rpx;
	border-radius: 12rpx;
	.randomTitle {
		color: #333;
		font-size: 34px;
		font-weight: 600;
		padding: 20px 30px 10px 30px;
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid #f5f5f5;
		.right {
			font-size: 30px;
			display: flex;
			align-items: center;
			& > .text {
				padding-left: 6px;
			}
		}
	}
	.extraNav {
		font-size: 28px;
	}
	.hotPoemsSwiper.poets {
		height: 220rpx;
	}
	.hotPoemsSwiper.sentences {
		height: 150rpx;
	}
	.hotPoemsSwiper.poems {
		height: 345px;
	}
}
