.randomContainer {
	// background-color: #fff;
	margin: 0 20rpx;
	border-radius: 12rpx;
	.SectionCard {
		border-radius: 12px;
		background-color: #fff;
		margin-bottom: 20px;
		& > .title {
			font-size: 32rpx;
			border-bottom: 2px solid #f5f5f5;
		}
	}
	.randomTitle {
		color: #333;
		font-size: 34px;
		font-weight: 600;
		padding: 20px 12px;
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid #f5f5f5;
		.right {
			font-size: 30px;
			display: flex;
			align-items: center;
			& > .text {
				padding-left: 6px;
			}
		}
	}
	.extraNav {
		font-size: 28px;
	}
	.hotPoemsSwiper.poets {
		height: 200rpx;
		.poetCard {
			padding: 0;
		}
	}
	.hotPoemsSwiper.sentences {
		height: 130rpx;
		.sentenceCard {
			padding: 0;
		}
	}
	.hotPoemsSwiper.poems {
		height: 305px;
		.poemSmallCard {
			margin-top: 0;
			padding: 0;
		}
	}
}
