.book-cover {
	font-size: 26px;
	min-height: 280px;
	padding: 0 16px;
	box-sizing: border-box;
	margin-bottom: 20px;
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
	.cover-container {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		// background-color: #337ab7;
		background-color: rgba(55, 70, 108);
	}
	.book-name {
		color: #333;
		background-color: #fff;
		margin: 14% 0 0 10%;
		width: 22%;
		height: 70%;
		padding: 8px;
		.name-container {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px solid #000;
			padding: 4px;
			height: 100%;
			box-sizing: border-box;
		}
		.name,
		.desc {
			writing-mode: vertical-rl;
			letter-spacing: 0.125em;
			white-space: nowrap;
		}
		.name {
			font-size: 1em;
			font-weight: 500;
			// margin-right: 4px;
		}
		.desc {
			font-size: 0.8em;
			display: none;
		}
	}
	.book-slider {
		height: 100%;
		width: 15%;
		border-left: 4px solid #fff;
		position: relative;
		.top,
		.bottom,
		.middle_t,
		.middle_b {
			background-color: #fff;
			height: 4px;
			position: absolute;
			left: 0;
			right: 0;
		}
		.top {
			top: 10%;
		}
		.middle_t {
			top: 40%;
		}
		.middle_b {
			top: 60%;
		}
		.bottom {
			top: 90%;
		}
	}
}
