.sentenceContainer {
	// padding: 0 20px;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	.scrollContainer {
		padding: 0 20px;
		box-sizing: border-box;
		.sentenceCard {
			margin-bottom: 20rpx;
			border-radius: 12rpx;
			padding: 16rpx;
			background-color: #fff;
		}
	}
}
