.sentenceContainer {
	// padding: 0 20px;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	.scrollContainer {
		padding: 0 20px;
		box-sizing: border-box;
		.sentenceCard {
			margin: 20px 0;
			border-radius: 12px;
			padding: 16px;
			background-color: #fff;
		}
	}
}
