.schedule-card {
	padding: 20px 0;
	position: relative;
	padding-right: 100px;
	box-sizing: border-box;
	overflow: hidden;
	.at-swipe-action__options{
		right: 75px;
		.at-swipe-action__option  {
			justify-content: center;
		}
	}
	.card_content {
		width: calc(100vw - 80px);
		position: relative;
	}
	.name {
		font-size: 36px;
		font-weight: 500;
		line-height: 60px;
		margin-bottom: 16px;
	}
	.process {
		width: 70%;
		background-color: #f8f8f8;
		height: 6px;
		position: relative;
		margin-bottom: 16px;
		.process_bar {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			background-color: #337ab7;
			transition: all 0.5s;
		}
	}
	.card_info {
		display: flex;
		align-items: center;
		.info_item {
			margin-right: 40px;
			.info_top {
				font-size: 28px;
				margin-bottom: 12px;
				.num {
					font-weight: 500;
					margin-right: 4px;
					font-size: 1.1em;
				}
				.text {
					font-size: 0.8em;
				}
			}
			.desc {
				color: #bbb;
				font-size: 24px;
			}
		}
	}
	.more {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		font-size: 36px;
		color: #999;
		z-index: 99;
	}
}
