.poemTitle {
	font-size: 40px;
	padding: 30px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	.title {
		color: #333;
	}
	.profile {
		color: #888;
		font-size: 0.7em;
	}
}
.pageContainer {
	padding: 0 30px;
}
