.page.poemDetail {
	padding-bottom: 220px;
}
.poemTitle {
	font-size: 40px;
	padding: 30px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	background-color: #fff;
	.title {
		color: #333;
	}
	.profile {
		color: #888;
		font-size: 0.7em;
	}
}
.pageContainer {
	padding: 0 20px;
}
.copyContainer {
	background-color: #337ab7;
	position: fixed;
	left: 24px;
	padding: 16px;
	border-radius: 100%;
	bottom: 150px;
	margin-bottom: env(safe-area-inset-bottom);
	opacity: 0.9;
	.copy {
		width: 44px;
		height: 44px;
		display: block;
	}
}
.shreContainer {
	background-color: #337ab7;
	position: fixed;
	right: 24px;
	padding: 16px;
	border-radius: 100%;
	bottom: 150px;
	margin-bottom: env(safe-area-inset-bottom);
	opacity: 0.9;
	.share {
		width: 44px;
		height: 44px;
		display: block;
	}
	.shareBtn {
		padding: 0;
		line-height: initial;
		border-radius: 50%;
		display: block;
		border: 1px solid #337ab7!important;
		&::after {
			border: unset;
		}
	}
}
.poemIndex {
	background-color: #efefef;
	.keywordFilter{
		background-color: #fff;
	}
	.filterContainer {
		position: sticky;
		top: 0;
		background-color: #fff;
		opacity: 0.9;
		padding: 20px 30px;
		z-index: 99;
	}
}
