.pinyinButton {
	font-size: 30px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 50%;
	// border: 2px solid #999;
	padding: 8px;

	.icon {
		width: 40px;
		height: 40px;
		display: block;
	}
}
