.fabButton {
	position: fixed;
	right: 24px;
	bottom: 320px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
	z-index: 99;
	.apps {
		// background-color: #fff;
		// background-color: #337ab7;
		margin-bottom: 10px;
		.appItem {
			// font-size: 48px;
			padding: 12px 26px;
			text-align: center;
			background-color: #337ab7;
			margin-bottom: 14px;
			// border-radius: 50%;
			border-radius: 84px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			.icon {
				color: #fff;
				font-size: 28px;
			}
			.text {
				color: #fff;
				font-size: 24px;
				font-weight: 5001;
				padding-right: 6px;
				letter-spacing: 1px;
			}
		}
	}
}
