.pinyin-text-container {
	display: flex;
	flex-wrap: wrap;
	.pinyin-text {
		display: flex;
		align-items: center;
		flex-direction: column;
		min-width: 62px;
		margin-bottom: 4px;
		margin-right: 4px;
		&:last-child {
			margin-right: 0;
		}
		.hanzi {
			font-size: 0.9em;
		}
		.pinyin {
			font-size: 0.6em;
		}
	}
}
