.pinyin-text-container {
	display: flex;
	flex-wrap: wrap;
	.pinyin-text {
		display: flex;
		align-items: center;
		flex-direction: column;
		min-width: 58px;
		margin-bottom: 4px;
		.text {
			text-align: center;
		}
		.hanzi {
			font-size: 0.8em;
		}
		.pinyin {
			font-size: 0.5em;
		}
	}
}
