.custome-page-header {
	position: relative;
	background-color: #fff;
	// box-sizing: border-box;
	padding-bottom: 16px;
	background-color: #337ab7;
	&.hasTitle {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.icon {
		width: 36px;
		height: 36px;
	}
	.search {
		position: absolute;
		bottom: 16px;
		left: 32px;
		font-size: 32px;
		display: flex;
		align-items: center;
		color: #fff;
		padding: 4px 14px;
		box-sizing: border-box;
	}
}
.header-title {
	font-size: 32px;
	color: #fff;
	text-align: center;
}
