.custome-page-header {
	position: relative;
	background-color: #fff;
	// box-sizing: border-box;
	padding-bottom: 16px;
	background-color: #337ab7;
}
.header-title {
	position: absolute;
	left: 50%;
	bottom: 0;
	height: 100%;
	transform: translateX(-50%);
	font-size: 28px;
	color: #fff;
	text-align: center;
}
