.custome-page-header {
	position: relative;
	background-color: #fff;
	// box-sizing: border-box;
	padding-bottom: 16px;
	background-color: #337ab7;
	&.hasTitle {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.header-title {
	font-size: 32px;
	color: #fff;
	text-align: center;
}
