.recordItem {
	display: flex;
	font-size: 28px;
	align-items: center;
	padding: 8rpx 16rpx;
	background: #fff;
	margin-right: 16px;
	margin-bottom: 16px;
	border-radius: 6px;
	justify-content: space-between;
	.text {
		flex: 1;
		padding: 0 12px;
	}
	.close {
		justify-self: flex-end;
	}
	.history,
	.close {
		font-size: 24px;
	}
}
.more {
	.moreBtn {
		display: block;
		margin-top: 20px;
	}
}
.clearAll {
	font-size: 28px;
}
.searchRecordSection {
	.title {
		margin-bottom: 12px;
	}
	.title, .content {
		padding: 10px 10px 0;
	}
}
.recordContainer {
	display: flex;
}
