.cardItem {
	font-size: 30px;
	width: 20.125%;
	color: #333;
	margin-right: 6.5%;
	box-sizing: border-box;
	padding: 20px 10px 0 10px;
	// margin-bottom: 10px;
	max-height: 250px;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	&.active:before {
		background-color: #337ab7;
	}
	&:nth-child(4n) {
		margin-right: 0;
	}
	&:before {
		content: ' ';
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 4px;
		width: 100px;
		/* border-top: 4rpx solid #f3f3f3; */
		color: #f3f3f3;
		// background-color: #337ab7;
		background-color: #ddd;
	}
	&.catalog {
		padding-top: 0;
		width: auto;
		margin-right: 30rpx;
		margin-bottom: 40px;
		&::before {
			display: none;
		}
		.thumbnail {
			height: 220px;
			max-height: 220px;
			max-width: 166px;
		}
		.name {
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			background-color: rgba(255, 255, 255, 0.5);
			padding: 20px 10px 10px;
			font-size: 0.9rem;
			box-sizing: border-box;
		}
	}
	.name,
	.profile {
		/* width:calc(100% - 32px); */
		/* float: left; */
		height: 100%;
		text-align: left;
		writing-mode: vertical-rl;
		letter-spacing: 4px;
	}
	.name {
		font-size: 1rem;
	}
	.profile {
		font-size: 0.7em;
		color: #666;
		margin-left: 8px;
	}
}
