.bookPage {
	background-color: #f5f5f5;
	padding: 30px;
}
.wrapper {
	display: flex;
	flex-direction: column;
}

.sectionCard {
	box-sizing: border-box;
	padding: 20px 20px;
	overflow: hidden;
	.cardTitle {
		font-size: 34px;
		color: #333;
		font-weight: 500;
		padding-bottom: 12px;
		margin-bottom: 26px;
		border-bottom: 1px solid #ddd;
	}
}
.cardContent {
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}
.homePage {
	box-sizing: border-box;
	height: 100vh;
	padding: 88px 28px 28px;
	background: #efefef;
	display: flex;
	align-items: flex-end;
	.poemShot {
		width: 100%;
	}
	.topShare {
		position: fixed;
		left: 32px;
		display: flex;
		align-items: center;
		.share-btn {
			display: flex;
			align-items: center;
			margin-right: 30px;
			padding: 20px 0;
			&.share {
				color: #337ab7;
			}
			.text {
				margin-left: 12px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.poemCard {
		margin: 0 auto;
		// width: 100vw;
		width: 100%;
		height: 100%;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		font-family: ChillKai;
		.container {
			flex: 1;
			// background-image: url('https://assets.xuegushi.com/images/card_bg_1.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			display: flex;
			align-items: flex-end;
			.poem-context {
				display: flex;
				align-items: center;
				width: 100%;
				height: 100%;
			}
			.author-container,
			.title-container,
			.poem {
				height: 100%;
				display: flex;
				align-items: flex-end;
				padding: 5vh 0;
			}
			.author-container,
			.title-container,
			.poem-text .text {
				writing-mode: vertical-lr; /* 从左到右 */
				text-orientation: upright; /* 保持正常显示 */
				text-align: center;
			}
			.author-container {
				margin-left: 40px;
				.text {
					color: #fff;
					font-size: 32px;
					background-color: #be140b;
					padding: 14px 10px;
					border-radius: 8px;
					letter-spacing: 0.2em;
					width: 52px;
					display: inline-block;
				}
			}
			.title-container .text {
				color: #000;
				font-size: 50px;
				// font-weight: 500;
				letter-spacing: 0.2em;
				margin: 0 40px 0 40px;
				width: 55px;
				max-height: 548px;
				overflow: hidden;
				display: inline-block;
				text-align: center;
			}
			.poem {
				height: 100%;
				flex: 1;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				// background: rgba(255, 255, 255, 0.5);
				.poem-text {
					font-size: 54px;
					letter-spacing: 0.5em;
					width: 54px;
					margin-right: 40px;
					height: 100%;
				}
			}
		}
		.bottom {
			height: 140px;
			opacity: 1;
			// background: rgba(255, 255, 255, 0.78);
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 28px 24px;
			.date {
				color: #6d3907;
				font-size: 32px;
				// font-family: HYZhongXiuTi;
				line-height: 52px;
				text-align: left;
				letter-spacing: 0.2em;
				flex: 1;
			}
			.desc {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				.xcxImg {
					width: 100px;
					height: 100px;
				}
			}
		}
	}
	.outShare {
		position: absolute;
		bottom: 3vh;
		left: 20rpx;
		right: 20rpx;
		text-align: center;
		display: flex;
		display: none;
		.share-btn {
			flex: 1;
			margin: 0 16px;
		}
	}
}
