.bookPage {
	background-color: #f5f5f5;
	padding: 30px;
}
.wrapper {
	display: flex;
	flex-direction: column;
}
.sectionCard {
	box-sizing: border-box;
	padding: 20px 20px;
	overflow: hidden;
	.cardTitle {
		font-size: 34px;
		color: #333;
		font-weight: 500;
		padding-bottom: 12px;
		margin-bottom: 26px;
		border-bottom: 1px solid #ddd;
	}
}
.cardContent {
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}
.homePage {
	box-sizing: border-box;
	height: 100vh;
	// padding: 88px 28px 28px;
	background: #efefef;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	font-family: GushiFont, serif;
	.topShare {
		padding-left: 32px;
		display: flex;
		width: 100%;
		align-items: center;
	}
	.share-btn {
		display: flex;
		align-items: center;
		margin-right: 30px;
		height: 100%;
		&.share {
			color: #337ab7;
		}
		.text {
			margin-left: 12px;
		}
		&:last-child {
			margin-right: 0;
		}
		.icon {
			width: 28px;
			height: 28px;
		}
	}
	.post-container {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.poemShot {
		width: 100%;
		box-sizing: border-box;
		background-repeat: repeat;
		font-family: GushiFont, serif;
	}

	.poemCard {
		margin: 0 auto;
		// width: 100vw;
		width: 100%;
		height: 100%;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		background-repeat: repeat;
		background-position: center;
		background-size: cover;
		// border-radius: 16px;;
		.container {
			flex: 1;
			// background-image: url('https://assets.xuegushi.com/images/card_bg_1.png');
			// background-position: center;
			// background-repeat: no-repeat;
			// background-size: cover;
			display: flex;
			align-items: flex-end;
		}
		.bottom {
			height: 128px;
			opacity: 1;
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 24px 24px 0 24px;
			.date {
				color: #6d3907;
				font-size: 32px;
				line-height: 52px;
				text-align: left;
				letter-spacing: 0.2em;
				flex: 1;
			}
			.desc {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				.xcxImg {
					width: 100px;
					height: 100px;
					border-radius: 50%;
				}
			}
		}
	}
	.postFloatLayout {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		visibility: hidden;
		z-index: 810;
		transition: visibility 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
		&.active {
			.overlay {
				opacity: 1;
			}
			.layoutContainer {
				transform: translate3d(0, 0, 0);
			}
		}
		.overlay {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.6);
			opacity: 0;
			-webkit-transition: opacity 150ms ease-in;
			transition: opacity 150ms ease-in;
		}
		.layoutContainer {
			position: absolute;
			bottom: 0;
			width: 100%;
			border-radius: 20rpx 20rpx 0 0;
			padding: 20rpx 30rpx;
			box-sizing: border-box;
			background-color: #fff;
			transform: translate3d(0, 100%, 0);
			transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
			transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1),
				-webkit-transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
		}
		.post-container {
			display: flex;
			width: 100%;
			justify-content: center;
			background-color: #efefef;
			margin-bottom: 12px;
		}
		.shareLayout {
			margin-bottom: 20px;
			.title {
				font-size: 28px;
				line-height: 36px;
				margin-bottom: 12px;
				font-weight: 500;
			}
			.scrollContainer {
				width: 100%;
				display: flex;
				flex-direction: row;
				box-sizing: border-box;
				.color-item {
					box-sizing: border-box;
					border-radius: 50%;
					&.bgColor {
						border: 4px solid #333;
					}
					&.active {
						border: 6px solid #337ab7;
					}
				}
				.ratio-item {
					font-size: 24px;
					padding: 12px 20px;
					border: 2px solid #333;
					margin-right: 20px;
					border-radius: 8px;
					&:last-child {
						margin-right: 0;
					}
					&.active {
						border-width: 4px;
						border-color: #337ab7;
					}
				}
				&.bgImgList {
					display: flex;
					flex-wrap: nowrap;
					white-space: nowrap;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
				}
				.bgImg {
					border-radius: 50%;
					display: flex;
					flex: none;
					align-items: flex-end;
					justify-content: center;
					box-sizing: border-box;
					border: 4px solid #333;
					// float: left;
					margin-bottom: 6px;
					&.active {
						border-width: 6px;
					}
					.bg-img {
						display: block;
						border-radius: 50%;
					}
				}
			}
			.layout-bottom {
				display: flex;
				align-items: center;
				justify-content: space-around;
				.scrollContainer {
					align-items: center;
				}
				.qrcode-container {
					padding: 8px;
					border: 2px solid #333;
					border-radius: 50%;
					box-sizing: border-box;
					display: flex;
					align-items: center;
					justify-content: center;
					&.active {
						border: 4px solid #337ab7;
					}
					.qrcode {
						border-radius: 50%;
					}
				}
			}
		}
		.shareBottom {
			display: flex;
			.share-btn {
				flex: 1;
				display: flex;
				align-items: center;
				margin-right: 30px;
				&:last-child {
					margin-right: 0;
				}
				.at-icon {
					margin-right: 12px;
				}
				.at-button__text {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}
