.bookPage {
	background-color: #f5f5f5;
	padding: 30px;
}
.wrapper {
	display: flex;
	flex-direction: column;
}

.sectionCard {
	box-sizing: border-box;
	padding: 20px 20px;
	overflow: hidden;
	.cardTitle {
		font-size: 34px;
		color: #333;
		font-weight: 500;
		padding-bottom: 12px;
		margin-bottom: 26px;
		border-bottom: 1px solid #ddd;
	}
}
.cardContent {
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}
.homePage {
	box-sizing: border-box;
	height: 100vh;
	padding: 0 28px;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	.poemShot {
		width: 100%;
		height: 75vh;
		margin-top: 40px;
	}
	.poemCard {
		margin: 0 auto;
		// width: 100vw;
		width: 100%;
		height: 75vh;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		.container {
			flex: 1;
			background-image: url('https://xuegushi.com/files/6dzc4aznjohyqjknuu7j/card_bg_1.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			display: flex;
			align-items: flex-end;
			.poem-context {
				display: flex;
				align-items: center;
				width: 100%;
				height: 72%;
			}
			.author-container,
			.title-container,
			.poem-text .text {
				// height: 100%;
				writing-mode: vertical-lr; /* 从左到右 */
				text-orientation: upright; /* 保持正常显示 */
				font-variation-settings: 'opsz' auto;
				text-align: center;
			}
			.author-container .text {
				color: #000;
				font-size: 32px;
				// font-family: HYZhongLiShuJ;
				background-color: #be140b;
				margin-left: 18px;
				padding: 14px 4px;
				border-radius: 8px;
				letter-spacing: 0.2em;
				width: 48px;
			}
			.title-container .text {
				color: #000;
				font-size: 72px;
				font-weight: 500;
				// font-family: HYFengGuKaiTi;
				-webkit-text-stroke: #000000 0.5px;
				letter-spacing: 0.4em;
				margin: 0 64px 0 32px;
				width: 72px;
			}
			.poem {
				height: 100%;
				flex: 1;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				background: rgba(255, 255, 255, 0.5);
				.poem-text {
					font-size: 48px;
					letter-spacing: 0.4em;
					font-variation-settings: 'opsz' auto;
					width: 48px;
				}
			}
		}
		.bottom {
			height: 140px;
			opacity: 1;
			background: rgba(255, 255, 255, 0.78);
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 28px 24px;
			.date {
				color: #6d3907;
				font-size: 36px;
				// font-family: HYZhongXiuTi;
				line-height: 48px;
				text-align: left;
				letter-spacing: 0.2em;
				flex: 1;
				.yangli {
					font-size: 36px;
					line-height: 44px;
				}
			}
			.desc {
				text-align: right;
				font-size: 34rpx;
				line-height: 48rpx;
				letter-spacing: 0.2em;
				flex: 1;
				.yi {
					color: #be140b;
				}
				.ji {
					color: #333;
				}
			}
		}
	}
	.outShare {
		position: absolute;
		bottom: 2vh;
		left: 0;
		right: 0;
		text-align: center;
		display: flex;
	}
}
