.bookPage {
	background-color: #f5f5f5;
	padding: 30px;
}
.wrapper {
	display: flex;
	flex-direction: column;
}
.sectionCard {
	box-sizing: border-box;
	padding: 20px 20px;
	overflow: hidden;
	.cardTitle {
		font-size: 34px;
		color: #333;
		font-weight: 500;
		padding-bottom: 12px;
		margin-bottom: 26px;
		border-bottom: 1px solid #ddd;
	}
}
.cardContent {
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}
.homePage {
	box-sizing: border-box;
	height: 100vh;
	// padding: 88px 28px 28px;
	background: #f8f8f8;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	// font-family: GushiFont, serif;
	.topShare {
		padding-left: 32px;
		display: flex;
		width: 100%;
		align-items: center;
		background-color: #337ab7;
		padding-bottom: 16px;
		.search {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-size: 32px;
			padding: 0 14px;
		}
		.icon {
			width: 36px;
			height: 36px;
		}
	}
	.share-btn {
		display: flex;
		align-items: center;
		padding-right: 44px;
		height: 100%;
		// &.share {
		// 	color: #337ab7;
		// }
		.text {
			font-size: 24px;
			margin-left: 12px;
		}
		&:last-child {
			margin-right: 0;
		}
		.at-icon {
			width: 40px;
			height: 40px;
			font-size: 40px;
			color: #636366;
		}
		&.reload {
			.icon {
				transform-origin: 50% 50%;
				transition: all 0.6s ease 0;
			}
			&.active {
				color: #337ab7;
				.icon {
					transform: rotateZ(180deg);
				}
			}
		}
	}
	.post-container {
		flex: 1;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		.post-bottom {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 40px 10px 0 10px;
		}
	}
	.poemShot {
		width: 100%;
		box-sizing: border-box;
		background-repeat: repeat;
		width: 80vw;
		height: 65vh;
		// font-family: GushiFont, serif;
	}
}
