.bookPage {
	background-color: #f5f5f5;
	padding: 30px;
}
.wrapper {
	display: flex;
	flex-direction: column;
}

.sectionCard {
	box-sizing: border-box;
	padding: 20px 20px;
	overflow: hidden;
	.cardTitle {
		font-size: 36px;
		color: #4c1f2c;
		padding-bottom: 12px;
		margin-bottom: 26px;
		border-bottom: 1px solid #ddd;
	}
}
.cardContent {
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}
