.postPage {
	padding: 20px 30px;
}
.page__hd {
    padding: 20px 0 20px 0;
}

.page__bd {
    padding-bottom: 40px;
}

.page__bd_spacing {
    padding-left: 30px;
    padding-right: 30px;
}

.page__ft {
    padding-bottom: 20px;
    text-align: center;
}

.page__title {
    text-align: left;
    font-size: 40px;
    font-weight: 400;
}

.page__desc {
    margin-top: 10px;
    color: #888;
    text-align: left;
    font-size: 28px;
}
.article {
	padding: 40px 0;
	font-size: 30px;
}
.article__section {
	margin-bottom: 1.5em;
}
.article__title,.article__h1 {
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 0.9em;
}
.article__h2 {
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 0.34em;
}
.article__h3 {
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 0.34em;
}
.article__p {
	margin: 0 0 0.8em;
	font-size: 26px;
	text-align: justify;
	// text-indent: 2em;
}
