.sentenceCard {
	padding: 16px 0;
	position: relative;
	border-bottom: 2px solid #f5f5f5;
	&.hideBorder {
		border-bottom: none;
	}
	&>.title {
		color: #333;
		font-size: 34px;
		font-weight: 500;
	}

	.origin {
		font-size: 26px;
		color: #65645F;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		margin-top: 8px;
	}
	.count {
		font-size: 24px;
		margin-top: 6px;
		text-align: right;
		.num {
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
