.sentenceCard {
	padding: 16px 20px;
	position: relative;
	border-bottom: 2px solid #f5f5f5;
	&.hideBorder {
		border-bottom: none;
	}
	&>.title {
		color: #333;
		font-size: 32px;
		// font-weight: 500;
	}

	.origin {
		font-size: 26px;
		color: #65645F;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		.originAuthor {
			color: #337ab7;
		}

		.originDot {
			margin: 0 8px;
			color: #999;
		}

		.originTitle {
			color: #65645F;
		}
		display: block;
		margin-top: 8px;
	}
	.count {
		font-size: 24px;
		margin-top: 6px;
		text-align: right;
		.num {
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
