.poster-layout-config {
	padding-top: 20px;
	.shareLayout {
		margin-bottom: 20px;
		&>.title {
			font-size: 28px;
			line-height: 36px;
			margin-bottom: 12px;
			font-weight: 500;
			white-space: nowrap;
		}
		.scrollContainer {
			width: 100%;
			display: flex;
			flex-direction: row;
			box-sizing: border-box;
			.color-item {
				box-sizing: border-box;
				border-radius: 50%;
				&.bgColor {
					border: 4px solid #333;
				}
				&.active {
					border: 6px solid #337ab7;
				}
			}
			.ratio-item {
				font-size: 24px;
				padding: 12px 20px;
				border: 2px solid #333;
				margin-right: 20px;
				border-radius: 8px;
				&:last-child {
					margin-right: 0;
				}
				&.active {
					border-width: 4px;
					border-color: #337ab7;
				}
			}
			&.bgImgList {
				display: flex;
				flex-wrap: nowrap;
				white-space: nowrap;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
			}
			.bgImg {
				// border-radius: 50%;
				display: flex;
				flex: none;
				align-items: flex-end;
				justify-content: centesr;
				box-sizing: border-box;
				border: 4px solid #333;
				// float: left;
				margin-bottom: 4px;
				background-repeat: repeat;
				margin-right: 16px;
				&.active {
					border-width: 4px;
					border-color: #337ab7;
				}
			}
			&.bgColorList {
				align-items: center;
			}
		}
		.layout-bottom {
			display: flex;
			align-items: center;
			justify-content: space-around;
			.scrollContainer {
				align-items: center;
			}
			.qrcode-container {
				padding: 8px;
				border: 2px solid #333;
				border-radius: 50%;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				justify-content: center;
				&.active {
					border: 4px solid #337ab7;
				}
				.qrcode {
					border-radius: 50%;
				}
			}
		}
		&.showBgLayout {
			display: flex;
			align-items: center;
			&>.title {
				margin-bottom: 0;
			}
			.at-switch {
				padding: 0;
			}
			.at-switch__title {
				flex: unset;
			}
			.at-switch__switch {
				transform: scale(0.6);
			}
			.scrollContainer {
				justify-content: flex-end;
			}
		}
	}
	.shareBottom {
		display: flex;
	}
	.share-btn {
		flex: 1;
		display: flex;
		align-items: center;
		margin-right: 30px;
		&.share {
			color: #337ab7;
		}
		.text {
			margin-left: 12px;
		}
		&:last-child {
			margin-right: 0;
		}
		.icon {
			width: 28px;
			height: 28px;
		}
		.at-icon {
			margin-right: 12px;
		}
		.at-button__text {
			display: flex;
			align-items: center;
		}
	}
}
