.poster-layout-config {
	padding-top: 20px;
	// background-color: inherit;
	// .float-layout-body {
	// 	background-color: inherit;
	// }
	.shareLayout {
		margin-bottom: 24px;
		& > .title {
			font-size: 28px;
			line-height: 36px;
			margin-bottom: 16px;
			// font-weight: 500;
			white-space: nowrap;
		}
		.scrollContainer {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			box-sizing: border-box;
			.color-item {
				box-sizing: border-box;
				// border-radius: 50%;
				display: block;
				text-align: center;
				// flex-direction: column;
				// align-items: center;
				// justify-content: center;
				transition: all 0.6s ease 0s;
				cursor: pointer;
				margin-right: 16px;
				position: relative;
				// box-sizing: border-box;
				// border: 2px solid #333;
				// width: 60px;
				// height: 60px;
				// border-radius: 20px;
				// border: 1px solid #333;
				.bgColor {
					border-radius: 50%;
					transform: translateX(8px);
				}
				&.fontBgColor {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					border: 1px solid #333;
					&.active {
						border: 4px solid #337ab7;
					}
				}
				.color-circle {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					display: block;
					margin: 0 auto;
				}
				// &.bgColor {
				// 	border: 1px solid #333;
				// }
				&.active {
					.text {
						color: #337ab7;
						font-weight: bold;
					}
					// border: 4px solid #337ab7;
				}
				&[data-color='#ffffff'] {
					.text {
						color: #333;
					}
				}
				&[data-color='#000000'] {
					.text {
						color: #fff;
					}
				}
				.text {
					color: #333;
					text-align: center;
					display: block;
					font-size: 20px;
					margin-top: 8px;
					// position: absolute;
					// left: 50%;
					// top: 50%;
					// transform: translateX(-50%) translateY(-50%);
				}
			}
			.ratio-item {
				font-size: 22px;
				padding: 12px 20px;
				border: 1px solid #333;
				margin-right: 20px;
				border-radius: 8px;
				&:last-child {
					margin-right: 0;
				}
				&.active {
					border-width: 4px;
					border-color: #337ab7;
				}
			}
			&.bgImgList {
				display: flex;
				flex-wrap: nowrap;
				white-space: nowrap;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				margin-bottom: 24px;
			}
			.bgImg {
				display: flex;
				flex: none;
				align-items: flex-end;
				justify-content: centesr;
				box-sizing: border-box;
				border: 1px solid #333;
				// float: left;
				// margin-bottom: 2px;
				background-repeat: repeat;
				margin-right: 16px;
				border-radius: 20px;
				&.active {
					border-width: 4px;
					border-color: #337ab7;
				}
			}
			&.bgColorList {
				align-items: center;
				flex-wrap: wrap;
				.scrollContainer {
					width: 100%;
				}
			}
		}
		.layout-bottom {
			display: flex;
			align-items: center;
			justify-content: space-around;
			.scrollContainer {
				align-items: center;
			}
			.qrcode-container {
				padding: 8px;
				border: 1px solid #333;
				border-radius: 50%;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				justify-content: center;
				&.active {
					border: 4px solid #337ab7;
				}
				.qrcode {
					border-radius: 50%;
				}
			}
		}
		&.showBgLayout {
			display: flex;
			align-items: center;
			& > .title {
				margin-bottom: 0;
			}
			.at-switch {
				padding: 0;
			}
			.at-switch__title {
				flex: unset;
			}
			.at-switch__switch {
				transform: scale(0.6);
			}
			.scrollContainer {
				justify-content: flex-end;
			}
		}
	}
	.shareBottom {
		display: flex;
	}
	.share-btn {
		flex: 1;
		display: flex;
		align-items: center;
		margin-right: 30px;
		&.share {
			color: #337ab7;
		}
		.text {
			margin-left: 12px;
		}
		&:last-child {
			margin-right: 0;
		}
		.icon {
			width: 28px;
			height: 28px;
		}
		.at-icon {
			margin-right: 12px;
		}
		.at-button__text {
			display: flex;
			align-items: center;
		}
	}
}
