.collections-page {
	padding: 20px;
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.list-button {
			background: #f2f3f5;
			font-size: 28px;
			line-height: 60px;
			padding: 0 24px;
			border-radius: 80px;
			color: #8a919f;
		}
		.list-create {
			color: #337ab7;
			font-size: 28px;
		}
	}
}
