.settingPage {
	padding: 20px 30px;
	.formItem {
		display: flex;
		align-items: center;
		padding: 20px 0;
		border-bottom: 2px solid #f5f5f5;
		&.center {
			justify-content: center;
		}
		&.noBottom {
			border-bottom: none;
		}
		.label {
			color: #999;
			padding-right: 20px;
		}
	}
	.avatar {
		text-align: center;
		.avatarImg {
			width: 120px;
			height: 120px;
			border-radius: 100%;
		}
	}
	.intro {
		color: #337ab7;
		font-size: 28px;
		margin: 20px 0;
		text-align: center;
		&.text {
			color: #999;
			font-size: 24px;
			margin: 8px 0;
		}
	}
	.formBtns {
		margin-top: 30px;
		.submitBtn {
			display: block;
			width: 100%;
			background-color: #337ab7;
		}
	}
	.agressContainer {
		display: flex;
		align-items: center;
		margin-top: 30px;
	}
}
