.mePage {
	min-height: 100vh;
	box-sizing: border-box;
	background-color: #f8f8f8;
	.meTop {
		color: #fff;
		padding: 30px 30px;
		background-color: #337ab7;
		// border-radius: 0 0 160px 160px;
		// margin-bottom: 30px;
	}
	.userInfoCard {
		display: flex;
		align-items: center;
		// flex-direction: column;
		justify-content: flex-end;
		padding: 100px 20px 0 20px;
		.avatar {
			.img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				border: 2px solid #fff;
			}
		}
		.user_name {
			font-size: 30px;
			font-weight: 600;
			padding-left: 30px;
			// margin-top: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex: 1;
			.setting {
				font-size: 24px;
				padding-left: 20px;
				display: flex;
				align-items: center;
				border-radius: 16px;
				padding: 12px 20px;
				border: 2px solid #fff;
			}
			.icon {
				font-size: 36px;
				padding-left: 10px;
			}
		}
	}
	.loginCard {
		padding: 30px 30px;
		text-align: center;
		.loginBtn{
			color: #337ab7;
		}
	}
	.pageContainer {
		padding: 20px;
		.SectionCard {
			background-color: #fff;
			border: 2px solid #f8f8f8;
			margin-bottom: 20px;
			border-radius: 16px;
			.title {
				border-bottom: 2px solid #f8f8f8;
			}
		}
	}
	.sectionItems {
		display: flex;
		justify-content: space-around;
		// margin-top: 20px;
		.item {
			text-align: center;
		}
		.name {
			font-size: 30px;
		}
		.num {
			font-size: 48px;
			font-weight: 600;
		}
	}
	.imgContainer {
		.xcxImg {
			width: 200px;
			height: 200px;
			display: block;
			margin: 0 auto;
		}
		.intro {
			font-size: 26px;
			text-align: center;
		}
	}
	.btns {
		margin-top: 20px;
		display: flex;
	}
	.textContainer {
		.text {
			font-size: 26px;
			font-size: #999;
		}
	}
	.font-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.copyright {
		color: #999;
		text-align: center;
		padding-bottom: 30px;
	}
	.fankuiBtn {
		color: #fff;
		font-size: 26px;
		background-color: #337ab7;
		line-height: normal;
		padding: 8px 20px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		.text {
			padding-left: 12px;
		}
		.icon {
			font-size: 30px;
		}
	}
}
.collectPage {
	background-color: #f8f8f8;
	.at-tabs__header {
		position: sticky;
		top: 0;
	}
}
