.poemCard {
	padding: 16px 0;
	position: relative;
	border-bottom: 1px solid #d9d9d9;
	.title {
		color: #333;
		font-size: 26px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 14px;
		.name {
			font-size: 32px;
			font-weight: 500;
			flex: 1;
		}
		.author, .dynasty {
			color: #666;
		}
		.dynasty {
			margin-right: 6px;
		}
	}

	.content {
		font-size: 24px;
		color: #888;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: block;
	}
}
