.libraryPage {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #f8f8f8;

	.nut-tabs {
		flex: 1;
		display: flex;
		flex-direction: column;
		min-height: 0;

		.nut-tabs-content-wrap {
			flex: 1;
			min-height: 0;
			overflow: hidden;

			.nut-tabs-content {
				height: 100%;
				display: flex;

				.nut-tabpane {
					height: 100%;
				}
			}
		}
	}
}