.findPage {
	background-color: #f8f8f8;
	padding-bottom: 20px;
	box-sizing: border-box;
	min-height: 100vh;
	.homeNavs {
		background-color: #fff;
	}
	.sectionCard {
		background: #fff;
		margin: 20rpx;
		border-radius: 12rpx;
		.ciItem {
			display: flex;
		}
		.cardItem {
			max-height: 250px;
		}
		.scroll-container {
			white-space: nowrap;
			display: flex;
			flex-wrap: nowrap;
		}
		.book-cover {
			width: 30%;
			height: 280rpx;
			flex: none;
		}
	}
}
