.page.sentenceDetail {
	box-sizing: border-box;
	background: #f8f8f8;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;

	height: 100%;
	.sentence-section {
		clear: both;
		overflow: hidden;
		min-height: 40vh;
		// margin: 2% 6% 8% 6%;
		position: relative;
		border-radius: 12px;
		background-color: #fff;
	}
	.sentence-title {
		color: #333;
		width: 100%;
		font-size: 48px;
		writing-mode: vertical-rl;
		padding: 0 30px;
		box-sizing: border-box;
	}
	.sentence-title .text {
		display: block;
		letter-spacing: 6px;
		padding: 60px 0 60px 30px;
	}
	.sentence-origin {
		text-align: right;
		writing-mode: vertical-lr;
		font-size: large;
		position: absolute;
		left: 20px;
		bottom: 0;
		height: 100%;
		.author {
			font-size: 32px;
			letter-spacing: 6px;
			display: block;
			text-align: right;
			padding: 20px 10px;
			box-sizing: border-box;
		}
	}
	.sentence-content {
		font-size: 14px;
		padding: 0 15px;
	}
	.sentence-content .normal {
		color: #888;
	}
	.poemSmallCard {
		padding: 0;
		margin: 0;
	}
	.topNavbar {
		background-color: #337ab7;
		width: 100%;
	}
	.topNavbar-container {
		padding-left: 32px;
		display: flex;
		width: 100%;
		align-items: center;
		position: relative;
		.title {
			color: #fff;
			font-size: 28px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.top-btns {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 20px 30px 0;
		box-sizing: border-box;
		.btnItem {
			color: #337ab7;
			margin-right: 16px;
			&:last-child {
				margin-right: 0;
			}
		}
		.share-btn {
			background-color: rgba(51, 122, 183, 0.1);
			padding: 8rpx 20rpx;
			border-radius: 8rpx;
			font-size: 24rpx;
			box-sizing: border-box;
		}
	}
	.post-container {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.share-btn {
		display: flex;
		align-items: center;
		margin-right: 30px;
		height: 100%;
		&.share {
			color: #337ab7;
		}
		.text {
			margin-left: 12px;
		}
		&:last-child {
			margin-right: 0;
		}
		.icon {
			width: 28px;
			height: 28px;
		}
		&.return {
			.icon {
				width: 36px;
				height: 36px;
			}
		}
		&.reload.active {
			.icon {
				transform-origin: 50% 50%;
				transition: all 1s ease;
				transform: rotate(360deg);
			}
		}
	}
}

.fixBottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: env(safe-area-inset-bottom);
	background-color: #fff;
	box-shadow: 0 -2px 6px hsla(0, 0%, 7%, 0.1);

	.buttonContainer {
		display: flex;
		justify-content: flex-end;
		padding: 30px 30px;
	}
	.btnItem {
		margin-left: 30px;
	}
}
.shreContainer {
	background-color: #337ab7;
	position: fixed;
	right: 24px;
	padding: 16px;
	border-radius: 100%;
	bottom: 150px;
	margin-bottom: env(safe-area-inset-bottom);
	opacity: 0.9;
	.share {
		width: 44px;
		height: 44px;
		display: block;
	}
	.shareBtn {
		padding: 0;
		line-height: initial;
		border-radius: 50%;
		display: block;
		border: 1px solid #337ab7 !important;
		&::after {
			border: unset;
		}
	}
}
.sentenceIndex {
	min-height: 100vh;
	background-color: #f8f8f8;
	.keywordFilter {
		background-color: #fff;
	}
	.pageContainer {
		background-color: #f8f8f8;
		.sentenceCard {
			padding: 16px 16px;
			position: relative;
			border-bottom: unset;
			background: #fff;
			margin-bottom: 20px;
			border-radius: 8px;
		}
	}
}
