page {
	background-color: #f5f5f5;
	padding: 30px;
}
.bookCard {
	padding: 20px 30px;
	background-color: #fff;
	margin-bottom: 20px;
	border-radius: 16px;
	.title {
		font-size: 38px;
		font-weight: 600;
		padding: 10px 0;
		border-bottom: 1px solid #ddd;
	}
}
.poems {
	margin-top: 16px;
}
.poemItem {
	display: flex;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px 0;
	.name {
		color: #337ab7;
		font-size: 32px;
		font-weight: 500;
		flex: 1;
		padding-right: 12px;
	}
	.author {
		font-size: 28px;
		.text {
			color: #337ab7;
			margin-left: 12px;
		}
	}
}
