.searchPage {
	// padding: 20px 0;
	background-color: #f5f5f5;
	box-sizing: border-box;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	.header {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		.typeContainer {
			padding: 8px 12px;
			background-color: #ebedf0;
			display: flex;
			align-items: center;
			border-radius: 14px;
			.typeItem {
				color: #333;
				flex: 1;
				padding: 4px 14px;
				border-radius: 10px;
				&.active {
					color: #000;
					background-color: #fff;
				}
			}
		}
	}
	.scrollContainer {
		flex: 1;
		box-sizing: border-box;
	}
	.searchTop {
		margin-bottom: 30px;
		position: sticky;
		top: 0;
		z-index: 99;
	}
	.hotKeys {
		font-size: 28rpx;
		padding: 8px 16px;
		margin-right: 16px;
		margin-bottom: 16px;
		display: inline-block;
		border-radius: 16px;
		background-color: #fff;
		.keyText {
			flex: 1;
		}
	}
	.hotKeysSection {
		.title {
			margin-bottom: 12px;
		}
		.title,
		.content {
			padding: 10px 10px 0;
		}
	}
	.searchKeyList {
		margin-top: 20px;
		.item {
			font-size: 26px;
			padding: 8px 0;
		}
	}
	.closeText {
		font-size: 28px;
		font-weight: 400;
	}
	.extraNav {
		font-size: 28px;
	}
	.SectionCard {
		& > .title {
			border-bottom: 2px solid #f5f5f5;
		}
		.sentenceCard,
		.poetCard {
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				border-bottom: unset;
				padding-bottom: 0;
			}
		}
		.poemSmallCard {
			padding: 0;
			border-bottom: 2px solid #f5f5f5;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
				border-bottom: unset;
			}
		}
	}
}
.noResult {
	padding: 60px;
	.tip {
		line-height: 2em;
	}
}
.seachTipSection {
	.title {
		border-bottom: 2px solid #f5f5f5;
	}
}
