.searchPage {
	padding: 20px 0;
	background-color: #f5f5f5;
	box-sizing: border-box;
	min-height: 100vh;
	.searchTop {
		margin-bottom: 30px;
		position: sticky;
		top: 0;
		z-index: 99;
	}
	.hotKeys {
		font-size: 28rpx;
		padding: 8px 16px;
		margin-right: 16px;
		margin-bottom: 16px;
		display: inline-block;
		border-radius: 16px;
		background-color: #fff;
		.keyText {
			flex: 1;
		}
	}
	.hotKeysSection {
		.title {
			margin-bottom: 12px;
		}
		.title,.content {
			padding: 10px 10px 0;
		}
	}
	.searchKeyList {
		margin-top: 20px;
		.item {
			font-size: 26px;
			padding: 8px 0;
		}
	}
	.closeText {
		font-size: 28px;
		font-weight: 400;
	}
	.extraNav {
		font-size: 28px;
	}
	.SectionCard {
		.sentenceCard, .poetCard {
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				border-bottom: unset;
				padding-bottom: 0;
			}
		}
		.poemSmallCard {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.noResult {
	padding: 60px;
	.tip {
		line-height: 2em;
	}
}
.seachTipSection {
	.title {
		border-bottom: 2px solid #f5f5f5;
	}
}
