.schedule-detail {
	background-color: #f8f8f8;
	padding: 20px 40px;
	min-height: 100vh;
	box-sizing: border-box;
	.detail-top {
		padding: 20px 20px;
		background-color: #fff;
		border-radius: 12px;
	}
	.divider {
		background-color: #f8f8f8;
		height: 20px;
	}
	.at-tabs {
		background-color: #fff;
		border-radius: 12px;
	}
	.at-tabs__item {
		color: #999;
	}
	.at-tabs__item--active {
		color: #337ab7;
	}
	.at-tabs-pane {
		padding-top: 20px;
		min-height: 100px;
	}
}
