.schedule-detail {
	.detail-top {
		padding: 20px 40px;
	}
	.divider {
		background-color: #f8f8f8;
		height: 20px;
	}
	.at-tabs__item {
		color: #999;
	}
	.at-tabs__item--active {
		color: #337ab7;
	}
	.at-tabs-pane {
		padding: 20px 40px;
	}
}
