.collectButton {
	color: #337ab7;
	background-color: rgba(51, 122, 183, 0.1);
	.buttonContainer.collect {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8px 20px;
		border-radius: 8px;
		font-size: 24px;
	}
	&.active {
		color: #fff;
		background-color: #337ab7;
	}
	.icon {
		width: 40px;
		height: 40px;
	}
	.collectText {
		padding: 0 4px;
	}
	.count {
		padding-left: 4px;
	}
}
