.fullText {
	padding-bottom: env(safe-area-inset-bottom);
	padding-top: 20px;
	.text {
		text-align: justify;
	}
}
.longTextCard {
	padding-bottom: env(safe-area-inset-bottom);
	.textContainer {
		.longText {
			display: block;
			font-size: 28px;
			line-height: 1.4rem;
			padding-bottom: 20px;
		}
		&.limit {
			.longText {
				.text {
					max-height: 4.2rem;
					display: block;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}
	}
	.reference {
		margin: 30px 0;
		padding-left: 30px;
		position: relative;
		&::before {
			content: " ";
			background-color: #ddd;
			width: 6px;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
		}
		.title {
			font-size: 28px;
		}
		.text {
			font-size: 24px;
		}
	}
}
