.fullText {
	padding-bottom: env(safe-area-inset-bottom);
	padding-top: 20px;
	.text {
		text-align: justify;
	}
}
.longTextCard {
	.textContainer {
		.longText {
			display: block;
			font-size: 30px;
			line-height: 1.4rem;
			padding-bottom: 20px;
		}
		&.limit {
			.longText {
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				.text {
					max-height: 4.2rem;
					display: block;
					text-overflow: ellipsis;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
				}
			}
		}
	}
	.textOperate {
		.full-btn {
			font-size: 24px;
			background: #eee;
			border: unset;
			color: #337ab7;
		}
	}
	.reference {
		margin: 30px 0;
		padding-left: 30px;
		position: relative;
		&::before {
			content: ' ';
			background-color: #ddd;
			width: 6px;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
		}
		.title {
			font-size: 28px;
		}
		.text {
			font-size: 24px;
		}
	}
}
