.fullText {
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: 20px;
	padding-right: 20px;
}
.longTextCard {
	.textContainer {
		margin-bottom: 20px;
		.longText {
			display: block;
			font-size: 28px;
			line-height: 1.6em;
		}
	}
	.reference {
		margin: 30px 0;
		padding-left: 30px;
		position: relative;
		&::before {
			content: " ";
			background-color: #ddd;
			width: 6px;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
		}
		.title {
			font-size: 28px;
		}
		.text {
			font-size: 24px;
		}
	}
}
