.dictionaryDetailPage {
	min-height: 100vh;
	background-color: #f5f7fa;
	padding: 20rpx;
	box-sizing: border-box;

	.top_title {
		padding: 24rpx;
		background: #fff;
		margin-bottom: 20rpx;
		border-radius: 12rpx;
		display: flex;
		align-items: center;
	}

	.wordCell {
		margin-bottom: 30rpx;
	}

	.hor-item {
		display: flex;
		align-items: center;
		margin-bottom: 20rpx;
		padding: 20rpx 24rpx;
		background: #fff;
		border-radius: 12rpx;

		.lable {
			padding: 8rpx 20rpx;
			margin-right: 20rpx;
			background-color: #f5f7fa;
			color: #666;
			border-radius: 8rpx;
			font-size: 24rpx;
		}

		.value {
			flex: 1;
			font-size: 28rpx;
			color: #333;
			line-height: 1.6;
		}
	}

	.chengyuDetail {
		.hor-item {
			align-items: flex-start;

			&.center {
				align-items: center;
			}

			.lable {
				background-color: unset;
			}

			.value {
				flex: 1;
				flex-wrap: wrap;
			}
		}
	}

	.explanation {
		font-size: 28rpx;

		.more_item {
			margin-bottom: 20rpx;

			.exp_item {
				margin-bottom: 20rpx;
				line-height: 36rpx;
			}
		}
	}

	.SectionCard {
		margin-bottom: 20rpx;
		background-color: #fff;
		border-radius: 12rpx;

		.title {
			padding: 20rpx 24rpx 0;
		}

		.content {
			padding: 20rpx 24rpx;
			box-sizing: border-box;
		}

		.scrollContainer {
			white-space: nowrap;

			&.ci {
				.wordCard {
					background-color: unset;
					padding: 20rpx 0;
				}
			}

			.wordCard {
				margin-right: 20rpx;
			}

			.wordCell {
				margin-bottom: 0;
			}
		}
	}
}
