.filter-modal {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	.filter-btn {
		color: #fff;
		font-size: 28px;
		padding: 5px 20px;
		border-radius: 6px;
		display: flex;
		align-items: center;
		.filter-btn__text { margin-left: 10px; }
	}
	.float-layout-container {
		padding: 0 0 20px 0;
		.float-layout-header { margin: 0; }
	}
	.filter-layout-container {
		height: 60vh;
		.filter-section {
			.filter-section-title {
				color: #666;
				font-size: 28rpx;
				font-weight: 500;
				padding: 24px 20px 12px;
				background-color: #f7f8fc;
			}
		}
		.filter-row {
			padding: 24px 20px;
			border-bottom: 1px solid #f0f0f0;
			&.active {
				color: #337ab7;
				.filter-row-text { color: #337ab7; }
			}
			.filter-row-text {
				font-size: 30rpx;
				color: #252933;
			}
		}
	}
}
