.poemContent {
	text-align: left;
	padding: 40px 30px;
	.xu {
		color: #999;
		font-size: 32px;
		margin-bottom: 20px;
		text-align: left;
	}
	.content {
		font-size: 32px;
		text-align: center;
		&.wyw {
			text-align: left;
		}
		.contentItem {
			margin-bottom: 12px;
		}
	}
	.text.block {
		display: block;
	}
}
