.poemContent {
	text-align: left;
	padding-top: 30px;
	.xu {
		color: #999;
		font-size: 34px;
		margin-bottom: 20px;
		text-align: left;
	}
	.content {
		font-size: 36px;
		text-align: center;
		&.wyw {
			text-align: left;
			.contentItem {
				margin-bottom: 20px;
			}
			.text.block {
				display: block;
				text-align: justify;
			}
		}
		.contentItem {
			margin-bottom: 12px;
		}
	}
	.text.block {
		display: block;
	}
}
