.postCard {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 8px;
	box-sizing: border-box;
	.postItem {
		height: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		border-right: unset;
		padding: 5% 0;
		box-sizing: border-box;
		.poem-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}
		.text {
			display: block;
			text-align: center;
			line-height: 100%;
		}
		&.title {
			justify-content: flex-end;
			.poem-container{
				justify-content: flex-end;
			}
		}
		&.author {
			justify-content: flex-end;
			.poem-container {
				justify-content: flex-end;
			}
			.author-container {
				color: #fff;
				background-color: #9d131b;
				padding: 14px 10px;
				border-radius: 8px;
				height: auto;
				display: block;
				box-sizing: content-box;
				transform: translateY(-0.2rem);
			}
		}
	}
	&.redBorder {
		border: 6px solid #c01112;
		.postItem {
			border: 2px solid #c01112;
			border-right: unset;
			&:last-child {
				border-right: 2px solid #c01112;
			}
		}
	}
	&.blackBorder {
		border: 6px solid #212321;
		.postItem {
			border: 2px solid #212321;
			border-right: unset;
			&:last-child {
				border-right: 2px solid #212321;
			}
		}
	}
	&.center {
		justify-content: center;
		.postItem {
			flex: unset;
			padding: 5% 10px 15% 20px;
			&.poem {
				justify-content: center;
			}
			&.title {
				padding-left: 12px;
				display: none;
			}
			&.author {
				padding-left: 0;
				justify-content: center;
				.poem-container {
					justify-content: flex-end;
				}
			}
			.poem-container {
				justify-content: flex-start;
			}
		}
	}
	&.horizontal {
		flex-direction: column-reverse;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		.postItem {
			height: auto;
			width: 100%;
			flex-basis: 100%;
			text-align: center;
			flex: none;
			justify-content: center;
			padding: 0;
			margin-bottom: 20px;
			&.blank {
				display: none;
			}
			&.author {
				display: none;
			}
			.poem-container {
				width: auto;
				flex-direction: row;
				justify-content: center;
			}
			&.title {
				margin-top: 40px;
				.poem-container {
					width: auto;
					position: relative;
				}
			}
		}
	}
}
