// @import "~taro-ui/dist/style/index.scss";
@charset "UTF-8";
$color-brand: #337ab7;
@import '~taro-ui/dist/style/components/icon.scss';
@import '~taro-ui/dist/style/components/float-layout.scss';
@import '~taro-ui/dist/style/components/tag.scss';
@import '~taro-ui/dist/style/components/tabs.scss';
@import '~taro-ui/dist/style/components/progress.scss';
@import '~taro-ui/dist/style/components/search-bar.scss';
@import '~taro-ui/dist/style/components/fab.scss';
@import '~taro-ui/dist/style/components/nav-bar.scss';
@import '~taro-ui/dist/style/components/segmented-control.scss';
@import '~taro-ui/dist/style/components/button.scss';
@import '~taro-ui/dist/style/components/switch.scss';
/*!
 * Project: Heti
 * URL: https://github.com/sivan/heti
 * Author: Sivan [sun.sivan@gmail.com]
 */
@font-face {
	font-family: 'Heti Hei';
	src: 'Heti Hei SC', 'Heti Hei TC', 'Heti Hei JP', 'Heti Hei KR';
}
@font-face {
	font-family: 'Heti Hei SC';
	src: local('PingFang SC Regular'), local('Heiti SC Regular'),
		local('Microsoft YaHei'), local('Source Han Sans CN Regular'),
		local('Noto Sans CJK SC Regular'), local('WenQuanYi Micro Hei'),
		local('Droid Sans Fallback');
}
@font-face {
	font-family: 'Heti Hei TC';
	src: local('PingFang TC Regular'), local('Heiti TC Regular'),
		local('Microsoft Jhenghei'), local('Source Han Sans HK Regular'),
		local('Source Han Sans TW Regular'), local('Noto Sans CJK TC Regular'),
		local('WenQuanYi Micro Hei'), local('Droid Sans Fallback');
}
@font-face {
	font-family: 'Heti Hei';
	font-weight: 200;
	src: 'Heti Hei SC Light', 'Heti Hei TC Light', 'Heti Hei JP Light',
		'Heti Hei KR Light';
}
@font-face {
	font-family: 'Heti Hei SC Light';
	font-weight: 200;
	src: local('PingFang SC Light'), local('Heiti SC Light'),
		'Heti Hei SC Light Fallback', local('Source Han Sans CN Light'),
		local('Noto Sans CJK SC Light');
}
@font-face {
	font-family: 'Heti Hei TC Light';
	font-weight: 200;
	src: local('PingFang TC Light'), local('Heiti TC Light'),
		local('Microsoft Jhenghei Light'), local('Source Han Sans HK Light'),
		local('Source Han Sans TW Light'), local('Noto Sans CJK TC Light');
}
@font-face {
	font-family: 'Heti Hei SC Light Fallback';
	font-weight: 200;
	src: local('Microsoft YaHei'), local('Droid Sans Fallback');
}
@font-face {
	font-family: 'Heti Hei';
	font-weight: 600;
	src: 'Heti Hei SC Bold', 'Heti Hei TC Bold', 'Heti Hei JP Bold',
		'Heti Hei KR Bold';
}
@font-face {
	font-family: 'Heti Hei SC Bold';
	font-weight: 600;
	src: local('PingFang SC Medium'), local('Heiti SC Medium'),
		'Heti Hei SC Bold Fallback', local('Source Han Sans CN Bold'),
		local('Noto Sans CJK SC Bold');
}
@font-face {
	font-family: 'Heti Hei TC Bold';
	font-weight: 600;
	src: local('PingFang TC Medium'), local('Heiti TC Medium'),
		local('Microsoft Jhenghei Bold'), local('Source Han Sans HK Bold'),
		local('Source Han Sans TW Bold'), local('Noto Sans CJK TC Bold');
}
@font-face {
	font-family: 'Heti Hei JP Bold';
	font-weight: 600;
	src: local('Hiragino Sans GB W6'), local('Source Han Sans JP Bold'),
		local('Noto Sans CJK JP Bold');
}
@font-face {
	font-family: 'Heti Hei KR Bold';
	font-weight: 600;
	src: local('Source Han Sans KR Bold'), local('Noto Sans CJK KR Bold');
}
@font-face {
	font-family: 'Heti Hei SC Bold Fallback';
	font-weight: 600;
	src: local('Microsoft YaHei'), local('Droid Sans Fallback');
}
@font-face {
	font-family: 'Heti Hei Black';
	font-weight: 800;
	src: 'Heti Hei SC Black', 'Heti Hei TC Black', 'Heti Hei JP Black',
		'Heti Hei KR Black';
}
@font-face {
	font-family: 'Heti Hei SC Black';
	font-weight: 800;
	src: local('Lantinghei SC Heavy'), local('PingFang SC Semibold'),
		local('Heiti SC Medium'), 'Heti Hei SC Black Fallback',
		local('Source Han Sans CN Heavy'), local('Noto Sans CJK SC Heavy');
}
@font-face {
	font-family: 'Heti Hei TC Black';
	font-weight: 800;
	src: local('Lantinghei TC Heavy'), local('PingFang TC Semibold'),
		local('Heiti TC Medium'), local('Microsoft Jhenghei Bold'),
		local('Source Han Sans HK Heavy'), local('Source Han Sans TW Heavy'),
		local('Noto Sans CJK TC Heavy');
}
@font-face {
	font-family: 'Heti Hei SC Black Fallback';
	font-weight: 800;
	src: local('Microsoft YaHei'), local('Droid Sans Fallback');
}
@font-face {
	font-family: 'Heti Song';
	src: local('Songti SC Regular'), local('Songti TC Regular'), local('SimSun');
}
@font-face {
	font-family: 'Heti Song';
	font-weight: 200;
	src: local('Songti SC Light'), local('Songti TC Light'),
		'Heti Song Light Fallback';
}
@font-face {
	font-family: 'Heti Song Light Fallback';
	font-weight: 200;
	src: local('SimSun');
}
@font-face {
	font-family: 'Heti Song';
	font-weight: 600;
	src: local('Songti SC Bold'), local('Songti TC Bold'),
		'Heti Song Bold Fallback';
}
@font-face {
	font-family: 'Heti Song Bold Fallback';
	font-weight: 600;
	src: local('SimSun');
}
@font-face {
	font-family: 'Heti Song Black';
	font-weight: 800;
	src: local('Songti SC Black'), local('SimSun');
}
@font-face {
	font-family: 'Heti Kai';
	src: local('Kaiti SC Regular'), local('Kaiti TC Regular'), local('STKaiti'),
		local('Kaiti'), local('BiauKai');
}
@font-face {
	font-family: 'Heti Kai';
	font-weight: 600;
	src: local('Kaiti SC Bold'), local('Kaiti TC Bold');
}
@font-face {
	font-family: 'Heti Kai Bold Fallback';
	font-weight: 600;
	src: local('STKaiti'), local('Kaiti') local('BiauKai');
}
@font-face {
	font-family: 'Heti Kai Black';
	font-weight: 800;
	src: local('Kaiti SC Black'), local('Kaiti TC Black'), local('STKaiti'),
		local('Kaiti');
}
// @font-face {
// 	font-family: 'GushiFont';
// 	src: url('https://assets.xuegushi.com/fonts/AlimamaDaoLiTi/AlimamaDaoLiTi.ttf')
// 		format('truetype');
// }
page {
	// line-height: 1.6;
	padding: 0;
	// box-sizing: border-box;
	// letter-spacing: 0.5px;
	// font-family: "PingFang SC",serif, system-ui, -apple-system, BlinkMacSystemFont,
	// 	'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
	// 	'Helvetica Neue', sans-serif;
	font-family: GushiFont, 'Heti Kai', serif, system-ui, -apple-system, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	color: #1d1d1f;
	font-size: 28rpx;
	// -webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	// line-height: 1.5;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	letter-spacing: 0.02em;
	// padding-bottom: env(safe-area-inset-bottom);
}
.safeBottom {
	padding-bottom: env(safe-area-inset-bottom);
}
.divide {
	height: 12px;
	width: 100%;
	background: #f8f8f8;
}
.loading {
	padding: 60px 30px;
	text-align: center;
}
.pageError {
	color: #999;
	padding: 60px 30px;
	text-align: center;
	.title {
		color: #333;
	}
}
.navigator {
	color: #337ab7;
	font-size: 28rpx;
	font-weight: 400;
}
.keywordFilter {
	color: #636366;
	font-size: 26rpx;
	padding: 10px 30px 10px 30px;
	.key {
		position: relative;
		padding-right: 30px;
		&::after {
			content: '/';
			position: absolute;
			right: 0;
			padding: 0 6px;
		}
	}
}
.at-tag--small {
	font-size: 24px;
}
.pinyin {
	font-size: 0.8em;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
