// @import "~taro-ui/dist/style/index.scss";
@import '~taro-ui/dist/style/components/icon.scss';
@import "~taro-ui/dist/style/components/float-layout.scss";
@import "~taro-ui/dist/style/components/tag.scss";
@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/progress.scss";

page {
	line-height: 1.6;
	// font-family: -apple-system-font, 'Helvetica Neue', sans-serif;
	color: #121212;
	// font-size: 36rpx;
	/* color: #666; */
	letter-spacing: 0.5px;
	background: #fff;
	-webkit-tap-highlight-color: rgba(26, 26, 26, 0);
	font-family: PingFangSC-Light, PingFang S;
	padding-bottom: env(safe-area-inset-bottom);
}
.divide {
	height: 12px;
	width: 100%;
	background: #efefef;
}
.loading {
	padding: 60px 30px;
	text-align: center;
}
.pageError {
	color: #999;
	padding: 60px 30px;
	text-align: center;
	.title {
		color: #333;
	}
}
