.poemSmallCard {
	padding: 16px 0;
	position: relative;
	border: 2px solid #f5f5f5;
	background: #fff;
    margin: 20px 0;
    border-radius: 12px;
    padding: 20px;
	.top {
		text-align: center;
	}
	&.hideBorder {
		border: none;
	}
	.title {
		color: #333;
		.name {
			font-size: 32px;
			font-weight: 600;
			flex: 1;
		}
	}

	.content {
		font-size: 30px;
		color: #65645f;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		line-height: 44px;
		.lightText {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: block;
		}
	}
	.poet {
		margin: 12px 0;
		.author,
		.dynasty {
			color: #999;
			font-size: 26px;
		}
		.dynasty {
			padding-right: 10px;
			margin-right: 10px;
			position: relative;
			&::after {
				content: ' ';
				background-color: #999;
				position: absolute;
				right: 0;
				top: 50%;
				height: 24px;
				width: 1px;
				transform: translateY(-50%);
			}
		}
	}
	.bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 12rpx;
		padding-top: 12px;
		border-top: 2px solid #efefef;
		.icon {
			font-size: 36px;
			padding: 6px 30px 6px 0;
			display: flex;
			align-items: center;
		}
		.text {
			font-size: 26px;
			padding-left: 8px;
		}
	}
	.count {
		font-size: 24px;
		margin-top: 6px;
		text-align: right;
		.num {
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
