.fixBottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: env(safe-area-inset-bottom);
	background-color: #fff;
    box-shadow: 0 -2px 6px hsla(0,0%,7%,.1);
	.bottomTabs {
		padding: 20px 30px;
	}
	.tabItem {
		padding: 8px 12px;
	}
	.flex {
		display: flex;
	}
	.right {
		flex: 1;
		justify-content: flex-end;
	}
}
.atTabs {
	.at-tabs__item{
		width: auto;
		flex: unset;
	}
}
.tabContent {
	height: 50vh;
	padding: 20px 30px;
	overflow-y: auto;
}
