.poetCard {
	display: flex;
	padding: 20px 0;
	border-bottom: 2px solid #f5f5f5;
	&.hideBorder {
		border-bottom: none;
	}
	.avatar {
		.img {
			width: 104px;
			height: 150px;
			background-color: #f5f5f5;
		}
	}
	.content {
		flex: 1;
		padding-left: 20px;
	}
	&.hideAvatar {
		.content {
			padding-left: 0;
		}
	}
	.author {
		font-size: 30px;
		.name {
			font-weight: 500;
		}
		.dynasty {
			color: #666;
			font-size: 26px;
			margin-left: 20px;
		}
	}
	.title {
		max-height: 90%;
		overflow: hidden;
	}
	.profile {
		color: #666;
		font-size: 24px;
		white-space: initial;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
